.second-section {
	background-color: #88B5BF;
	padding: 30px;
	margin-bottom: 100px;
}

.second-section__list {
	display: flex;
	justify-content: center;
	gap: 30px;
}
.second-section__item {
	display: block;
	width: 23.79%;
	height: 0;
	padding-top: 19.5%;
	background-color: #0D89B0;
}

@media (max-width: 480px) {
	.second-section {
		margin-bottom: 30px;
	}
}